:root{
    --mustard: #E4B61A;
    --yellow: #FBE134;
    --fog: #E9EAEC;
    --charcoal: #2A2E34;
    --black: #0B0C0C;
}

    .main {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0;
        left: 45rem;
        top: 6rem;
        font-size: 5rem;
        font-weight: bolder;
    }

    .start-page {
        visibility: visible;
        width:15rem;
    }

    #logo{
        width:25rem;
        height:25rem;
    }

    button {
        background-color: var(--yellow);
        color: var(--charcoal);
        border-radius: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        transition: all;
        transition-property: transform, box-shadow;
    }

    button:hover {
        cursor: pointer;
    }

    button:active {
        transform: scale(.9);
        box-shadow: 10px 10px 5px -4px var(--black);
    }

    #start-button {
        display:flex;
        position: relative;
        justify-content: center;
        top:1rem;
        font-size: 3rem;
        width:15rem;
        visibility: visible;
    }

    #see-score {
        display:flex;
        position:absolute;
        top: 40rem;
        left: 50rem;
        visibility: visible;
    }

    #timer-count {
        display:flex;
        font-weight: bolder;
        position: relative;
        left: 105rem;
        top: -2rem;
        font-size: 2rem;
    }
    #points-count {
        display:flex;
        font-weight: bolder;
        position: relative;
        left: 105rem;
        top: -1rem;
        font-size: 2rem;
    }

    #high-scores {
        display:flex;
        position: relative;
        padding-top:0;
        padding-bottom:0;
        top: 1rem;
        left: 1rem;
        font-size: 2rem;
    }

    .quiz {
        display: flex;
        position:absolute;
        top:1rem;
        left: -10rem;
        visibility: hidden;
    }

    .question{
        position: absolute;
        background-color: var(--yellow);
        border-radius: .5rem;
        border: solid black;
        padding: 2rem;
        left: -7rem;
        top: -5rem;
        width: 70rem;
        height: 28rem;
        max-height: 50rem;
    }

    .answers {
        top: 25rem;
        left: -35rem;
        position: absolute;
    }

    #a1{
        position:absolute;
        left:20rem;
        font-size: 3rem;
        width:40rem;
        height: 10rem;
    }

    #a2{
        position:absolute;
        left: 65rem;
        font-size: 3rem;
        width:40rem;
        height: 10rem;
    }

    #a3{
        position: absolute;
        left: 20rem;
        font-size: 3rem;
        width: 40rem;
        top:13rem;
        height: 10rem;
    }

    #a4{
        position: absolute;
        left: 65rem;
        font-size: 3rem;
        top: 13rem;
        width:40rem;
        height: 10rem;
    }

    ul {
        list-style: none;
    }

    input {
        position: relative;
        z-index: 1;
        top: -28.7rem;
        left: -15rem;
        height: 4rem;
        visibility: hidden;
    }

    #submit {
        font-size: 3rem;
        position: absolute;
        z-index: 1;
        left: 10rem;
        top:13.8rem;
        background-color: var(--yellow);
        font-weight: bolder;
        visibility: hidden;

    }


    input[type='text']{
        font-size: 2rem;
        font-weight: bolder;
    }