:root{
    --mustard: #E4B61A;
    --yellow: #FBE134;
    --fog: #E9EAEC;
    --charcoal: #2A2E34;
    --black: #0B0C0C;
}

/* sets the position and sizing of the elements in the main class*/
    .main {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0;
        left: 45rem;
        top: 6rem;
        font-size: 5rem;
        font-weight: bolder;
    }

/* makes the starting page visible */
    .start-page {
        visibility: visible;
        width:15rem;
    }
/* set the logo size */
    #logo{
        width:25rem;
        height:25rem;
    }
/* sets the base styles and sizes for button elements */
    button {
        background-color: var(--yellow);
        color: var(--charcoal);
        border-radius: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        transition: all;
        transition-property: transform, box-shadow;
    }
/* sets hover function for buttons*/
    button:hover {
        cursor: pointer;
    }
/* sets animation for activation of buttons */
    button:active {
        transform: scale(.9);
        box-shadow: 10px 10px 5px -4px var(--black);
    }
/* sets visibility, size, and position of the start-button */
    #start-button {
        display:flex;
        position: relative;
        justify-content: center;
        top:1rem;
        font-size: 3rem;
        width:15rem;
        visibility: visible;
    }
/* sets the position and visibility for the "high scores" button */
    #see-score {
        display:flex;
        position:absolute;
        top: 40rem;
        left: 50rem;
        visibility: visible;
    }

    /* sets position and size of the timer */
    #timer-count {
        display:flex;
        font-weight: bolder;
        position: relative;
        left: 105rem;
        top: -2rem;
        font-size: 2rem;
    }

    /* sets the position and size of the points counter */
    #points-count {
        display:flex;
        font-weight: bolder;
        position: relative;
        left: 105rem;
        top: -1rem;
        font-size: 2rem;
    }

    #high-scores {
        display:flex;
        position: relative;
        padding-top:0;
        padding-bottom:0;
        top: 1rem;
        left: 1rem;
        font-size: 2rem;
    }

    .quiz {
        display: flex;
        position:absolute;
        top:1rem;
        left: -10rem;
        visibility: hidden;
    }

    .question{
        position: absolute;
        background-color: var(--yellow);
        border-radius: .5rem;
        border: solid black;
        padding: 2rem;
        left: -7rem;
        top: -5rem;
        width: 70rem;
        height: 28rem;
        max-height: 50rem;
    }

    .answers {
        top: 25rem;
        left: -35rem;
        position: absolute;
    }

    #a1{
        position:absolute;
        left:20rem;
        font-size: 3rem;
        width:40rem;
        height: 10rem;
    }

    #a2{
        position:absolute;
        left: 65rem;
        font-size: 3rem;
        width:40rem;
        height: 10rem;
    }

    #a3{
        position: absolute;
        left: 20rem;
        font-size: 3rem;
        width: 40rem;
        top:13rem;
        height: 10rem;
    }

    #a4{
        position: absolute;
        left: 65rem;
        font-size: 3rem;
        top: 13rem;
        width:40rem;
        height: 10rem;
    }

    ul {
        list-style: none;
    }

    input {
        position: relative;
        z-index: 1;
        top: -28.7rem;
        left: -15rem;
        height: 4rem;
        visibility: hidden;
    }

    #submit {
        font-size: 3rem;
        position: absolute;
        z-index: 1;
        left: 10rem;
        top:13.8rem;
        background-color: var(--yellow);
        font-weight: bolder;
        visibility: hidden;

    }


    input[type='text']{
        font-size: 2rem;
        font-weight: bolder;
    }